.carousel-caption {
  background-color: coral;
  max-height: 90px;
  margin-bottom: 30px;
}

.nav-bg {
  background-color: dodgerblue;
  text-decoration: none;
}

.nav-bg a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0px;
}

.nav-bg a:hover {
  color: white;
  box-shadow: 0 3px 0 white;
}

.navbar-brand a:hover {
  text-decoration: none;
  box-shadow: none;
  color: white;
}

.navbar a,
#logout {
  margin: 15px;
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px black;
}

.navbar-brand a {
  font-family: cursive;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 1px black;
  ;
}

.navicon:hover,
#cart:hover {
  color: darkblue;
  box-shadow: none;
  cursor: pointer;
}

#logout:hover {
  color: red;
  box-shadow: none;
  cursor: pointer;
}

.pricetag,
.product-title {
  color: darkorange;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.product-title {
  color: dodgerblue;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.description,
.brand {
  color: darkorange;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.product-text {
  font-weight: bold;
}